
.swiper-slide{
	width: 100%;
}

.img-center{
	margin: 0 auto;
}

.text-shadow{
	text-shadow: 2px 2px 5px #282828;
}

#quienes-somos{
	p{
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 25px;
	}
}

.border-bottom{
	border-bottom: 1px solid #282828;
}

.btn-warning{
	background: #f47823;
}

.inicio{
	background: url('../img/pattern/about.jpg') no-repeat center;
	background-size: cover;
	padding: 80px 0;
}

.quienes{
	padding: 80px 0;
	background: url('../img/pattern/pattern2.png');

	h2{
		color: white;
	}
}

.productos{
	background-color: #e9eaed;

	h3{
		text-align: center;
	}
}

.og-grid{ 

}

.border-red{
	border-top: 2px solid #e30513;
}

.border-yellow{
	border-top: 2px solid #ffed00;
}

.left-red{
	border-left: 2px solid #e30513;
}

.left-yellow{
	border-left: 2px solid #ffed00;
}

.left-blue{
	border-left: 2px solid #0977b2;
}

.left-purple{
	border-left: 2px solid #7809b2;
}

.left-lightBlue{
	border-left: 2px solid #28b2be;
}

.left-orange{
	border-left: 2px solid #f47823;
}

.left-green{
	border-left: 2px solid #4bbc36;
}

.left-black{
	border-left: 2px solid #282828;
}

.og-grid li.og-expanded > a::after{
	border-bottom-color: #f58438;
}

.og-expander{
	background: url('../img/pattern/prod.jpg');
	background-position: center;
	background-size: cover;

	small{
		color: #282828;
	}

	h3{
		line-height: 1;
	}
}

.og-fullimg{
	img{
		border: 1px solid #282828;
	}
} 

.og-details{
	a{
		display: none;
	}

	p{
		color: #282828;
	}
}

#formSuccess, #formFail{
	display: none;
}

#copyrights{
	background: url('../img/logos/mcb.png') right center no-repeat;
	background-size: auto 100%;
}

.ventas{
	h3{
		color: #e9eaed;
	}

	a{
		&:hover{
			color: #e9eaed;
		}
	}
}

.text-white{
	color: white;
}

.text-mistral{
	font-family: 'mistralregular';
}

.hide{
	display: none;
}

@media (max-width: 1025px){
	#header.full-header .container{
		padding: 0 !important;
	}

	#logo{
		img{
			max-width: 300px;
			height: auto;
		}
	}	
}

@media (max-width: 768px){
	.container, #header.full-header .container, .container-fullwidth{
		width: 100% !important;

	}

	#header.full-header{
		position: fixed !important;
		z-index: 1000;
		width: 100%;
	}

	#slider{
		margin-top: 100px;
	}

	.inicio{
		background-size: auto 150%;
	}
}
